@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  margin: 0;
  font-family: 'Open Sans', 'Open Sans Light', 'Open Sans Condensed', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

